<h1 id="tableLabel">Standing Instructions \ Payment Reminders</h1>

<div class="inlineL" >Total Cash Available : $2323.00 </div> <div class="inlineR" >Upcoming payment of $2323.00 <i class="fa fa-thumbs-down" aria-hidden="true"></i></div>

<p *ngIf="!BankStatements"><em>Loading...</em></p>
<div class="inlineR">
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="BankStatements">
  <thead>
    <tr>
      <th>Sl#</th>
      <th>Type</th>
      <th>Amount</th>
      <th>Withdrawal Date</th>
      <th>Withdrawal Type</th>
      <th>Bank</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of BankStatements">
      <td>{{ data.sl }}</td>
      <td>{{ data.Type }}</td>
      <td>{{ data.Amount }}</td>
      <td>{{ data.Wdate }}</td>
      <td>{{ data.Wtype }}</td>
      <td>{{ data.name }}</td>
    </tr>
  </tbody>
</table></div>
<div class="chart-wrapper inlineL" width="80%">
  <canvas baseChart 
  [data]="pieChartData" 
  [labels]="pieChartLabels" 
  [chartType]="pieChartType"
  [options]="pieChartOptions"
  [plugins]="pieChartPlugins"
  [legend]="pieChartLegend">
</canvas>
</div>