<h1 id="tableLabel">Statement Analyzer</h1>
<div class="container">
   
    
 <div class="row" style="height: 50px">
<div class="col-md-2">
    <h4>Account</h4>

</div>
<div class="col-md-2">
    <select class="form-control">
    <option value="all" selected="selected">All Accounts</option>
    <option value="1234">CHASE - 5454</option>
    <option value= "5678">BOA -5455</option>
    <option value= "1278">SCB - 5456</option>
    </select>

</div>
<div class="col-md-2">
    <h4>Period</h4>
</div>

<div class="col-md-3">
   
            <select class="form-control" style="width:200px">
            <option value="all" selected="selected">Last 6 months</option>
            <option value="1234">December</option>
            <option value= "5678">January</option>
            <option value= "1278">February</option>
            </select>
</div>
<div class="col-md-3">
            <input type="button" value="Submit" class="btn btn-primary">
      
    
</div>
</div>
<div clas="row">
</div>
<div class="chart-wrapper">
    <canvas baseChart 
    [data]="pieChartData" 
    [labels]="pieChartLabels" 
    [chartType]="pieChartType"
    [options]="pieChartOptions"
    [plugins]="pieChartPlugins"
    [legend]="pieChartLegend">
  </canvas>
</div>
</div>