<!-- <input type = "submit" class = "vertibutton" value = "Verify"> -->
<form [formGroup]="accountlisted">
  <div class="container">
    <div class="row">
        <div class="form_title mb-1">
            <h1 class="float-left">
                Add Accounts
            </h1>
        </div>
    </div>
    <div class="row">
      
  <div class="col-md-4">
        <select class="form-control" formControlName="addaccounts">
        <option value="" disabled>Choose your bank</option>
        <option>HDFC</option>
        <option>SBI</option>
        <option>IOB</option>
        <option>CANARA BANK</option>
      </select>
  </div>
  <div class="col-md-4">
    <input type="submit" class="btn btn-primary" value="Verify">
  </div> 
    </div>
  <table class="table table-striped">
     <thead>
    <tr>
          <th>Title</th>
          <th>Accounts</th>
          <th>Link the account</th>
          
        </tr>
     </thead>
    <tbody>
      <ng-container formArrayName="tableRows">
        <!-- <tr  [formGroupName]="i"> -->
        <!-- <ng-container formArrayName="tableRows"> -->
        <!-- <tr  [formGroupName]="i"> -->
        <tr>
          <td>
BOA
            <!-- <input type="text" formControlName="movieposter"> -->

          </td>

          <td>
SB-XXXXXX2356
            <!-- <input type="text" formControlName="moviename"> -->

          </td>

          <td>

            <input type="checkbox" id="check" name="check" value="check">

            <!-- <input formControlName="description"> -->
            <!-- <nav>
                  <a routerLink='/viewdescscreen'>Click Here</a>
                </nav> -->

          </td>
          <!-- <td> -->

          <!-- <input type="text" formControlName="actors"> -->

          <!-- </td> -->

          <!-- <td> -->

          <!-- <input type="date" formControlName="yearofrelease"> -->


          <!-- </td> -->
          <!-- <td> -->

          <!-- <input type="text" formControlName="rating"> -->


          <!-- </td> -->
          <!-- <td>
              <i class="fa fa-edit" style="font-size:24px" formControlName="edit"></i>
            
            </td> -->
          <!-- <td> -->
          <!-- <i class="fa fa-trash" style="font-size:24px" formControlName="delete"></i> -->

          <!-- </td> -->



        </tr>
        <!-- </tr> -->
        <tr>
          <td>SCB</td>
          <td>SB-XXXXXX5623</td>
          <td>
            <input type="checkbox" id="check" name="check" value="check" >
          </td>
        </tr>
        <tr>
          <td>CHASE</td>
          <td>CR-XXXXXX2356</td>
          <td>
            <input type="checkbox" id="check" name="check" value="check">
          </td>
        </tr>

      </ng-container>
    </tbody>
  </table>
  <div class="row">
    <div class="col-md-2">
  <input type="submit" class="btn btn-primary" value="Submit">
    </div>
    <div class="col-md-2">
  <input type="button" class="btn btn-primary" value="Cancel" (click)="homeagainscreen()">
    </div>
  </div>
  <!-- <button id="add" (click)="addmoviepage()" class="button">Add A Movie</button> -->
  </div>
</form>