<!-- <input type = "submit" class = "vertibutton" value = "Verify"> -->
<form [formGroup]="accountlisted">
  <div class="container">
    <h1 id="tableLabel">Add Accounts</h1>


    <div class="row">
      <div class="inlineL"><select class="form-control" formControlName="addaccounts">
          <option disabled>Choose your bank</option>
          <option value="">CHASE</option>
          <option>BOA</option>
          <option>SCB</option>
        </select></div>
      <div>
        <input type="submit" class="btn btn-primary" value="Verify">
      </div>
      <div class="col-md-4">

      </div>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Type</th>
          <th>Accounts</th>
          <th>Link the account</th>

        </tr>
      </thead>
      <tbody>
        <ng-container formArrayName="tableRows">

          <tr>
            <td>
              Savings

            </td>

            <td>
              XXXXXX5402

            </td>

            <td>

              <input type="checkbox" id="check" name="check" value="check">
            </td>



          </tr>
          <tr>
            <td>Current</td>
            <td>XXXXXX5698</td>
            <td>
              <input type="checkbox" id="check" name="check" value="check">
            </td>
          </tr>
          <tr>
            <td>Savings</td>
            <td>XXXXXX8756</td>
            <td>
              <input type="checkbox" id="check" name="check" value="check">
            </td>
          </tr>

        </ng-container>
      </tbody>
    </table>
    <div class="row">
      <div class="col-md-2">
        <input type="submit" class="btn btn-primary" value="Submit">
      </div>
      <div class="col-md-2">
        <input type="button" class="btn btn-primary" value="Cancel" (click)="homeagainscreen()">
      </div>
    </div>
  </div>
</form>