
<div class="container">
  
  <table class="table table-striped">
    <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Frequency</th>
           <th>Amount</th>
          <th>WithdrawalDate</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let biller of billers">
        <td>{{ biller.id }}</td>
        <td>{{ biller.biller }}</td>
        <td>{{ biller.frequency }}</td>
            <td>{{ biller.amount }}</td>
        <td>{{ biller.withdrawalDate }}</td>
      </tr>
    </tbody>
  </table>
</div>