<div class="container">
    <div class="row">
        <div class="form_title mb-3">
            <h1 class="float-left">
                Add Biller
            </h1>
        </div>
    </div>
    <div class="row" style="height: 100px">
        <div class="col-md-3">
            <h3>Biller</h3>

        </div>
        <div class="col-md-3">

            <select>
            <option value="mobile" selected="selected">Mobile</option>
            <option value= "Electricity">Electricity</option>                             
            </select>

        </div>


        <div class="col-md-3">
            <h3>Amount</h3>
        </div>

        <div class="col-md-3">
            <input type="text" />

        </div>

    </div>
    <div class="row"style="height: 100px">
        <div class="col-md-3">
            <h3>From Account</h3>
        </div>
        <div class="col-md-3">
            <select>
            <option value="1234" selected="selected">SBI-SAV- XXXX1234</option>
            <option value= "5678">SBI-SAV- XXXX5678</option>
            <option value= "1278">IOB-SAV- XXXX1278</option>
            </select>
        </div>

        <div class="col-md-3">
            <h3>Payment Frequency</h3>
        </div>
        <div class="col-md-3">
           <select>
           <option value="annual" selected="selected">Annual</option>
           <option value= "quarterly">Quarterly</option>
           <option value= "monthly">Monthly</option>
           </select>
        </div>

    </div>
    <div class="row" style="height: 100px">
        <div class="col-md-3">
            <h3>Withdrawal Date</h3>
        </div>
        <div class="col-md-3">
           <input type="date">
        </div>

    </div>
    <div class="row" style="height: 100px">

        <div class="ml-auto mr-6">
            <input type="button" value="Submit">
        </div>
        <div class="col-md-6">
            <input type="button" value="Cancel">
        </div>

    </div>
</div>