/* You can add global styles to this file, and also import other style files */
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
h1
{
    color: darkred;
    text-align: center;
    padding: 10px 10px;
    
}
.sitelogo
{
    text-align: middle;
}

body
{
    /* background-color:turquoise; */
    
    background-image:url(assets/finspend.JPG);
}

.mainContainer{
    height: 100%;
    width: 100%;
    text-align: center;

    
   
}
.button {
    background-color: indianred; 
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 50px 30px;
    cursor: pointer;
  }
label{
    display: block;
    text-align: center;
    
    color: blueviolet;
}

label {
    margin-bottom: 40px;
    
}
.description{
    vertical-align: middle;
}

input{
     margin-right: 40px; 
    
}
.vertbutton{

    background-color: indianred; 
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    /* text-decoration: none; */
    /* display: inline-block; */
    font-size: 16px;
    /* margin: 50px 30px; */
    cursor: pointer;
  margin-left: 1000px;
  margin-top: 10px;
  
}
.horizbutton
{
    background-color: indianred; 
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    /* text-decoration: none; */
    /* display: inline-block; */
    font-size: 16px;
    /* margin: 50px 30px; */
    cursor: pointer;
    margin-left: 1050px;
    margin-top: 0px;
}
.hoributton
{
    background-color: indianred; 
    border: none;
    color: white;
    padding: 15px 15px; 
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 500px ;
    cursor: pointer;
    margin-top: 200px;
  }


* {
    font-family: 'Nunito Sans';
  }
  body {
    margin: 0;
    padding: 0;
  }
  .main {
    width: 100%;
    display: flex;
    background-color: #f2f2f2;
    height: 100vh;
  }

  .main .user {
    text-align: right;
  }
  .main .column-1 {
    width: 20%;
    float: left;
  }
  .main .column-2 {
    width: 80%;
    float: left;
    background-color: #fff;
  }
  .main .column-2 div {
    padding: 20px;
  }
  .active {
    outline: 1px solid #ddd;
    cursor: pointer;
    background-color: #ecf0f1;
    color: #2980b9;
  }
  .vertical-menu {
    display: block !important;
    width: 100%;
    text-align: center;
    list-style-type: none;
    padding: 0px;
  }
  li {
    color: #212121;
    font-style: normal;
    font-weight: normal;
    text-align: left;
    padding: 12px;
    cursor: pointer;
    font-size: 18px;
  }
  li:after {
    display: none;
  }
  a {
    padding: 8px;
  }
  @media (max-width: 550px) {
    .column-1 {
      width: 40% !important;
    }
    .column-2 {
      width: 60% !important;
    }
  }