<h1 id="tableLabel">{{bankName}} - Standing Instructions \ Payment Reminders</h1>
<div class="alert alert-success" role="alert">
  You have sufficient balance for upcoming standing instruction
</div>
<div class="inlineL">Total Cash Available : $2323.00

  <p *ngIf="!BankStatements"><em>Loading...</em></p>

  <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="BankStatement">
    <thead>
      <tr>
        <th>Sl#</th>
        <th>Type</th>
        <th>Amount</th>
        <th>Withdrawal Date</th>
        <th>Withdrawal Type</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of BankStatement">
        <td>{{ data.sl }}</td>
        <td>{{ data.Type }}</td>
        <td>{{ data.Amount }}</td>
        <td>{{ data.Wdate }}</td>
        <td>{{ data.Wtype }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="inlineR" style="width: 40%;">Upcoming payment of $2323.00 <i class="fa fa-thumbs-down" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Not sufficient balance on account"></i>



  <div class="col-md-3" >
    To Account : xxxxx122
  </div>
  <div class="col-md-3">
    From Account : <select formControlName="fromAccount" class="form-control">
      <option value="SBI-SAV- XXXX1234">SBI-SAV- XXXX1234</option>
      <option value="SBI-SAV- XXXX5678">SBI-SAV- XXXX5678</option>
      <option value="IOB-SAV- XXXX1278">IOB-SAV- XXXX1278</option>
    </select>
  </div>
  <div class="col-md-3">
    Amount : <input type="text" formControlName="amount" class="form-control" />

  </div>
  <button id="addbutton" class="btn btn-primary">Fund Now</button>
</div>