<h1 id="tableLabel">{{bankName}} - Standing Instructions \ Payment Reminders</h1>
<div class="alert alert-danger" role="alert" *ngIf="!sufficientBalance">
  You don't have sufficient balance for upcoming standing instruction
</div>
<div class="alert alert-success" role="alert" *ngIf="sufficientBalance">
  You have sufficient balance for upcoming standing instruction
</div>
<div class="inlineL">Total Cash Available : {{totalCash | currency}}

  <p *ngIf="!BankStatements"><em>Loading...</em></p>

  <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="BankStatement">
    <thead>
      <tr>
        <th>Sl#</th>
        <th>Type</th>
        <th>Amount</th>
        <th>Withdrawal Date</th>
        <th>Withdrawal Type</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of BankStatement">
        <td>{{ data.sl }}</td>
        <td>{{ data.Type }}</td>
        <td>{{ data.Amount }}</td>
        <td>{{ data.Wdate }}</td>
        <td>{{ data.Wtype }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="inlineR" style="width: 40%;">Upcoming payment of {{pendingPay | currency}} <i class="fa fa-thumbs-down"
    aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Not sufficient balance on account"
    *ngIf="!sufficientBalance"></i>



  <div>
    To Account : {{bankName}} - {{bankNumber}}
  </div>
  <div>
    From Account : <select class="form-control">
      <option value="SBI-SAV- XXXX1234">CHASE - 5454</option>
      <option value="SBI-SAV- XXXX5678">BOA - 5455</option>
      <option value="IOB-SAV- XXXX1278">SCB - 5456</option>
    </select>
  </div>
  <div>
    Amount : <input type="text" class="form-control"
      [value]="!sufficientBalance ? this.totalCash - this.pendingPay : 0" />
    <br />
    <button id="addbutton" class="btn btn-primary">Fund Now</button>
  </div>
</div>